@import url('./common.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* variáveis de estilo */
:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  --white: #F2F2F2;
  --light-gray: lightgrey;
  --dark: rgba(34, 35, 40);
  --darkGreen: rgb(25, 58, 23);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
  }

  body {

    width: 100vw;
    font-family: roboto, serif;
  }

  .body-dark-mode {
    background-color: var(--dark);
    color: white;
  }


header {
   width: 100vw;
    display: flex;
    
    height: 4.9rem;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    box-shadow: 0 0.2rem 0.3rem var(--light-gray);
    margin-bottom: 2em;
    margin-top: 0;
}

.header-dark-mode {
    background: linear-gradient(90deg, var(--dark), var(--darkGreen));
    box-shadow: 0 0.2rem 0.3rem var(--black)
}



#logo {
    display: block;
    width: fit-content;
    margin-top: 0.7rem;
    padding: .7em 1em;
    border-bottom: .2em solid var(--white);
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem
}

a {
    display: block;
    width: fit-content;
    padding: .7em 1em;
    border-bottom: .2em solid white;
    text-decoration: none;
    color: white
}

.darkbutton {
    
        display: flex;
        align-items: center;
        justify-content: center;    
        width: 100vw;
        margin-left: auto;
        color: rgb(223, 223, 223);
        position: absolute;
        margin-top: 1.5rem;
        margin-left: 17rem;
        


}

#darkbtn {
    
    background-color: var(--white);
    padding: 0.7rem 3rem 0.7rem;
    opacity: 50%;
    color: var(--secondary);
    
}


.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: rgb(223, 223, 223);
    padding: 2rem;
}

.user-info p {
    text-transform: capitalize;
}

.user-info .user-image {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: white;
    opacity: .3;
    margin-left: .7em;
}


/* Novas tarefa ----------------------------------------------------------- */

.nova-tarefa {
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    width: 80%;
    margin: 0 10%;
    padding: 1em;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: .4em;
    z-index: 20;
}

.nova-tarefa-dark-mode {
    background: linear-gradient(90deg, var(--dark), var(--darkGreen));
    box-shadow: 0 0.2rem 0.3rem var(--black)
}

.nova-tarefa input {
    color: #fff;
    border: none;
    flex: 0.1rem;
    border-radius: 0.5rem;
    padding: .3em;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.248);
    
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* tornar o placeholder branco */
.nova-tarefa  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
/* trocar a cor do ícone do caledário */
.nova-tarefa input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}  
  
#btnTarefa {
    filter: invert(1);
}


label {
    padding: 1rem
}

.nova-tarefa input:focus {
    outline: none;
    border-bottom: 1px solid grey;
}

.nova-tarefa input::placeholder {
    color: rgb(197, 197, 197);
    text-indent: .2em;
}

.nova-tarefa button {
    height: 2em;
    width: 2em;
    background-color: transparent;
    margin-left: 2em;
    margin-right: 1em;
    opacity: .5;
}

.nova-tarefa button:hover {
    opacity: 1;
}

.nova-tarefa button img {
    height: 100%;
    width: 100%;
}

.not-done {
    width: 2em;
    height: 2em;
    background-color: var(--app-grey);
    margin-right: 1em;
    border-radius: 50%;
    cursor: pointer;
}


/* Lista de tarefas ----------------------------------------------------------- */

.tarefa {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.tarefa .not-done {
    position: relative;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    box-shadow: 2px 2px 5px lightgrey;
    border: 2px solid var(--secondary);
    z-index: 2;
    transition: background-color 200ms linear;
}

.tarefa .not-done:hover {
    background-color: var(--secondary);
}

.tarefa:first-child .not-done::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: calc(.75em - 1px);
    display: block;
    height: 3em;
    width: 2px;
    background-color: var(--secondary);
}

.tarefa:not(:last-child) .not-done::after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(.75em - 1px);
    display: block;
    height: 4.5em;
    width: 2px;
    background-color: var(--secondary);
}

.tarefa .descripcion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: white;
    padding: 1em 2em;
    box-shadow: 2px 2px 5px lightgrey;
}

.tarefa .nome {
    color: rgb(95, 95, 95);
}

.tarea .timestamp {
    font-size: .9em;
    color: rgb(134, 134, 134);
}


/* Tarefas pendentes */
.tarefas-pendentes {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
    margin: 2em 15%;
}

/* Titulo do concluido */
.titulo-concluida {
    position: relative;
    width: 8rem;
    text-align: center;
    padding: .5rem 1rem;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    border-radius: .2rem;
    box-shadow: 3px 3px 5px var(--shadow-color);
    color: var(--white);
    opacity: 50%;
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: calc(15% - 4rem);
    z-index: 20;
}

.titulo-concluida-dark-mode{
    background-color: var(--darkGreen);
}


/* Ver o estilo, onde acaba o que está no github */

/* Tarefas concluidas */
.titulo-concluida,
.tarefas-concluidas {
    display: flex;
    flex-direction: column;
    width: 80%;
    list-style: none;
    margin: 2rem auto;
}

/* circulo concluidas */
.tarefas-concluidas .not-done {
    background-color: var(--app-grey);
    border-color: grey;
}

.tarefas-concluidas .not-done::before,
.tarefas-concluidas .not-done::after {
    background-color: grey !important;
}

.tarefas-concluidas .tarefa .descripcion {
    background-color: white;
}

.tarefas-concluidas .tarefa .descripcion .nome {
    color: grey;
    text-decoration: line-through;
}

/* @@@@@ INCLUIDO NA AULA 21 */

.tarefa .excluir {
    width: 2rem;
    height: 2rem;   
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: flex;
    opacity: 0;
    transition: opacity 400ms linear;
}

.tarefa:hover .excluir{
    opacity: 1;
    display: flex;
}

.img {
    width: 40;
    height: 40
}