@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');



:root {
  --primary: #1ae2df;
  --secondary: #1640b4;
  --app-grey: #F2F2F2;
  --color1: #face7b;
  --color2: #ffdf75;
  --color3: #059be5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
}